---
- name: Configuración de una máquina para ansible
  hosts: all
  become: yes

  tasks:
    - name: apt upgrade
      apt:
        update_cache: yes
        cache_valid_time: 43000
        upgrade: full
    - name: Install apt packages 
      apt:
        name:
          - python3-pip
          - htop
          - curl
          - python-is-python3
      
    - name: Set a new hostname
      ansible.builtin.hostname:
        name: ansible-rrg
  
    - name: Install pip packages
      pip: 
        name:
        - setuptools
        - virtualenv
        - ansible-lint
        - pywinrm